footer {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: max-content;   
}

.footer-top-main {
    width: max-content;
    background-color: #333;
    height: max-content;
    padding: 50px;
}

.footer-site-navigation-top {
    max-width: 1100px;
    padding: 0 0 25px 0;
    height: max-content;
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.main-information-title {
    margin: 0 15px 0 15px;
}

.main-information-title h3 {
    font-weight: bold;
    color: #fff;
}

.main-information-box {
    display: flex;
    flex-direction: column;
}

.main-information-containers {
    display: flex;
}

.main-information-containers div {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    margin: 0 15px 0 15px;
}

.main-information-containers div a {
    margin: 5px 0 5px 0;
    color: #fff;
    text-decoration: none;
    opacity: 70%;
    transition: 0.8s;
    max-width: max-content;
}

.main-information-containers div a:hover {
    opacity: 100%;
}

.footer-site-navigation-bottom {
    max-width: 1100px;
    padding: 0 0 25px 0;
    height: max-content;
    background-color: #333;
}

.footer-site-navigation-bottom-containers {
    display: flex;
}

.footer-menu, .lyceum-departments,
.education-system, .methodological-associations,
.other-info
 {
    flex-basis: 250px;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

.footer-site-navigation-bottom-containers div h3 {
    font-weight: bold;
    color: #fff;
}

.footer-menu-box, .lyceum-departments-box,
.education-system-box, .methodological-associations-box,
.other-info-box {
    display: flex;
    flex-direction: column;
}

.footer-menu a, .lyceum-departments a,
.education-system a, .methodological-associations a,
.other-info a {
    margin: 5px 0 5px 0;
    text-decoration: none;
    opacity: 70%;
    color: #fff;
    transition: 0.8s;
    max-width: max-content;
}

.footer-site-navigation-bottom-containers div a:hover {
    opacity: 100%;
}

@media screen and (max-width: 850px) {

    .footer-top-main {
        display: none;
    }

}   