html, body {
    margin: 0%;
    background-color: f2f2f2;
    overflow-x: hidden;
}

.main {
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.page {
    max-width: 1200px;
    background-color: #fff;
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
}


    