.header_top {
    width: 100%;
    height: 60px;
    background-color: white;
}

.header_main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
    padding: 5px;
}

.header_main_text {
    margin: 0%;
    text-align: center;
    font-size: 24px;
    font-family: Accia Moderato light;
    color: white;
}

.page {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 2000px;
    background-color: white;
}

@media (max-width: 1500px) {
    .page {
        margin-left: 30px;
        margin-right: 30px;
        width: auto;
    }
    
    .header_top{
        display: none;
    }

    .header_main_text {
        font-size: 35px;
    }
}


body {
    margin: 0%;
    background-color: rgb(241, 241, 241);
}