html, body {
    margin: 0%;
    background-color: f2f2f2;
    overflow-x: hidden;
}

.header-top {
    width: 100%;
    height: max-content;
    padding: 6px;
    background-color: white;
}

.personal-navigation .menu-top {
    display: flex;
    justify-content: center;
    margin: 14px 0 14px 0;
}

.personal-navigation .menu-top li,
 .personal-navigation .menu-top li a{
    text-transform: uppercase;
    font-family: 'Sylfaen' serif;
    font-size: 16px;
    color: rgb(126, 42, 77);
    list-style-type: none;
    padding: 0 10px 0 10px;
    font-weight: bold;
    opacity: 80%;
    transition: 0.8s;
    text-decoration: none;
}

.personal-navigation .menu-top li:hover,
 .personal-navigation .menu-top li a:hover{
    text-decoration: underline;
    opacity: 100%;
}

.header-main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
}

.main-title {
    padding: 5px;
    width: max-content;
    height: max-content;
    margin: 0 auto 0 auto;  
}

.main-title p {
    margin: 0 auto 0 auto; 
    text-align: center;
    font-size: 20px;
    font-family: 'fonts\mint-type-acciamoderato-light.otf', 'Sylfaen' serif;
    color: #fff;
    width: max-content;
}

.main-title a {
    text-decoration: none;
    width: max-content;
    height: max-content;
}

  /* ffffdfdfdfdfd */

.responsive-menu {
    display: none;
}

  /* bdfdjfjdjfgdgfdfg */

.main {
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.news {
    padding: 50px;
    max-width: 1200px;
    background-color: white;
    margin: 0 15px 0 15px;

}

.news-title {
    background-color: rgb(126, 42, 77);
    border-radius: 3px;
    width: max-content;
    height: max-content;
    padding: 4px 10px 4px 10px;
    white-space: nowrap;
}

.news-title a {
    color: white;
    text-decoration: none;
    opacity: 70%;
    transition: 0.8s;
    font-size: 14px;
    font-family: 'Sylfaen' serif;
}

.news-title a:hover {
    opacity: 100%;
    text-decoration: underline;
}

.news-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 0 0;
}

.news-container {
    flex: 1;
    flex-basis: 400px;
    margin: 0 15px 35px 15px;
    font-size: 14px;
} 

.news-container hr {
    border: none;
    background-color: rgb(126, 42, 77);
    height: 2px;
    margin: 0 0 20px 0;
}

.news-container a {
    color: rgb(126, 42, 77);
    text-decoration: none;
    font-size: 20px;
}

.footer-top {
    display: flex;
    flex-direction: column;
    height: max-content;
    width: 100%;
    background-color: #333;
}

.footer-personal-navigation .menu-bottom {
    display: flex;
    flex-direction: column;
    margin: 30px 0 30px 0;
    padding: 0 200px 0;
    list-style-type: none;
    width: max-content;
}

.footer-personal-navigation .menu-bottom p {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Sylfaen' serif;
    font-size: 14px;
    color: #fff;  
    padding: 8px 0 8px 0; 
    width: max-content;
    height: max-content;
}

.footer-personal-navigation .menu-bottom li,
 .footer-personal-navigation .menu-bottom li a{
    text-transform: uppercase;
    font-family: 'Sylfaen' serif;
    font-size: 12px;
    color: #fff;
    padding: 6px 0 6px 0;
    text-decoration: none;
    width: max-content;
    height: max-content;
    opacity: 80%;
    transition: 0.8s;
}

.footer-personal-navigation .menu-bottom li:hover,
 .footer-personal-navigation .menu-bottom li a:hover {
     opacity: 100%;
     text-decoration: underline;
 }

@media screen and (max-width: 850px) {
   
    .header-top{
        display: none;
    }

    .header-main p {
        font-size: 12px;
    }

    .news {
        padding: 25px;
    }

    .news-title {
        font-size: 8px;
        padding: 2px 5px 2px 5px;
        border-radius: 1.5px;
    }

    .news-title a {
        font-size: 8px;
        opacity: 100%;
        transition: none;
    }

    .news-title a:hover {
        pointer-events: 0;
        text-decoration: none;
    }

    .news-block {
        margin: 25px 0 0 0;
    }

    .news-container {
        font-size: 9px;
        margin: 0 4px 20px 4px;
        flex-basis: 250px;
    }

    .news-container hr {
        margin: 0 0 7px 0;
    }

    .news-container a {
        font-size: 12px;
    }

    /* dsdsdsdsdsdsdsdsdsdsdssdsdsdsddsdsds */

    .responsive-menu {
        display: block;
        
    }
    
    .show-menu-btn, .hide-menu-btn {
        cursor: pointer;
        position: absolute;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
    }

    .show-menu-btn img, .hide-menu-btn img {
        margin: auto 0 auto 0;
    }

    .menu {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        background-color: #333;
        height: max-content;
        left: -100%;
        transition: 0.8s;
    }
    
    .menu a {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        white-space: nowrap;
        padding: 25px;
        color: white;
        font-size: 18px;
        opacity: 80%;
    }

    .menu a:hover {
        opacity: 100%;
    }
    
    #chk {
        position: absolute;
        visibility: hidden;
        z-index: -1111;
    }

    #chk:checked ~ .menu{
        left:0;
    }
}