html {
    background:linear-gradient(180deg, rgb(136, 136, 139),  rgb(81, 81, 85));
}

body{
    margin: 0%;
}

header {
    background: linear-gradient(90deg, rgb(75, 64, 97), rgb(55, 60, 105), rgb(47, 37, 134));
    box-shadow: 0 5px 50px 20px rgb(29, 26, 26);
}

h1 {
    font-size: 52;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    vertical-align: middle;
    margin: 0%;
}

.box {
    background-color: rgb(119, 119, 155);
    margin-left: 200px;
    margin-right: 200px;
    height: auto;
    box-shadow: 
                0 0px 0px rgba(0, 0, 0, .3),
                -23px 0px 20px -23px rgba(0, 0, 0, .8),
                23px 0 20px -23px rgba(0, 0, 0, .8),
                0 0 0px rgba(0, 0, 0, .1);
    padding: 10px;
    font-size: 18;
}

img {
    width: 1000px;
    height: auto;  
    border-radius: 5px;
}

.img-container {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    border: rgb(55, 60, 105);
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;   
    width: fit-content;
    background: linear-gradient(45deg, rgb(86, 86, 124), rgb(130, 130, 150)) ;
}

/* .m27 {
    width: 500px;
    height: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.jup {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.sat {
    width: auto;
    height: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}  */