.header_top {
    width: 100%;
    height: 60px;
    background-color: white;
}

.header_main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
    padding: 5px;
}

.header_main p {
    margin: 0%;
    text-align: center;
    font-size: 24px;
    font-family: Accia Moderato light;
    color: white;
}

.main {
    max-width: 100%;
    height: 2000px;
    background-color: e1e1e1;
    display: flex;
    justify-content: center;
}

.news {
    padding: 0 30px 30px;
    width: 1200px;
    height: 2000px;
    background-color: white;
    margin: 0 30px 30px;
}

@media (max-width: 1000px) {
   
    .header_top{
        display: none;
    }

    .header_main p {
        font-size: 24px;
    }
}


body {
    margin: 0%;
    background-color: e1e1e1;
}