html, body {
    margin: 0%;
    background-color: f2f2f2;
    overflow-x: hidden;
}

/* header */

.header-top {
    width: 100%;
    height: max-content;
    padding: 6px;
    background-color: white;
}

.personal-navigation .menu-top {
    display: flex;
    justify-content: center;
    margin: 14px 0 14px 0;
}

.personal-navigation .menu-top li,
 .personal-navigation .menu-top li a{
    text-transform: uppercase;
    font-family: 'Sylfaen' serif;
    font-size: 16px;
    color: rgb(126, 42, 77);
    list-style-type: none;
    padding: 0 10px 0 10px;
    font-weight: bold;
    opacity: 80%;
    transition: 0.8s;
    text-decoration: none;
}

.personal-navigation .menu-top li:hover,
 .personal-navigation .menu-top li a:hover{
    /* text-decoration: underline; */
    opacity: 100%;
}

.header-main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
}

.main-title {
    padding: 5px;
    width: max-content;
    height: max-content;
    margin: 0 auto 0 auto;  
}

.main-title p {
    margin: 0 auto 0 auto; 
    text-align: center;
    font-size: 20px;
    font-family: 'fonts\mint-type-acciamoderato-light.otf', 'Sylfaen' serif;
    color: #fff;
    width: max-content;
}

.main-title a {
    text-decoration: none;
    width: max-content;
    height: max-content;
}

/* /header */

/* responsive-menu */

.responsive-menu {
    display: none;
}

/* /responsive-menu */

/* main-page */

.main {
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.page {
    max-width: 1200px;
    background-color: #fff;
    margin: 0 15px 0 15px;
    display: flex;
    justify-content: center;
}

/* /main-page */

/* news-block */

.news-box {
    padding: 50px;
    max-height: max-content;
    max-width: max-content;
}

.news-title {
    background-color: rgb(126, 42, 77);
    border-radius: 3px;
    width: max-content;
    height: max-content;
    padding: 4px 10px 4px 10px;
    white-space: nowrap;
}

.news-title a {
    color: white;
    text-decoration: none;
    opacity: 70%;
    transition: 0.8s;
    font-size: 14px;
    font-family: 'Sylfaen' serif;
}

.news-title a:hover {
    opacity: 100%;
    text-decoration: underline;
}

.news-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 0 0;
}

.news-container {
    flex: 1;
    flex-basis: 400px;
    margin: 0 15px 35px 15px;
    font-size: 14px;
} 

.news-container hr {
    border: none;
    background-color: rgb(126, 42, 77);
    height: 2px;
    margin: 0 0 20px 0;
}

.news-container a {
    color: rgb(126, 42, 77);
    text-decoration: none;
    font-size: 20px;
}

/* /news-block */

/* footer */

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.footer-top {
    display: flex;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: max-content;   
}

.footer-top-main {
    width: max-content;
    background-color: #333;
    height: max-content;
    padding: 50px;
}

/* fdfdfdfdf */

.footer-site-navigation-top {
    max-width: 1100px;
    padding: 0 0 25px 0;
    height: max-content;
    background-color: #333;
    display: flex;
    flex-direction: column;
}

.main-information-title {
    margin: 0 15px 0 15px;
}

.main-information-title h3 {
    font-weight: bold;
    color: #fff;
}

.main-information-box {
    display: flex;
    flex-direction: column;
}

.main-information-containers {
    display: flex;
}

.main-information-containers div {
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
    margin: 0 15px 0 15px;
}

.main-information-containers div a {
    margin: 5px 0 5px 0;
    color: #fff;
    text-decoration: none;
    opacity: 70%;
    transition: 0.8s;
    max-width: max-content;
}

.main-information-containers div a:hover {
    opacity: 100%;
}

/* dfdfdfdfdf */

.footer-site-navigation-bottom {
    max-width: 1100px;
    padding: 0 0 25px 0;
    height: max-content;
    background-color: #333;
}

.footer-site-navigation-bottom-containers {
    display: flex;
}

.footer-menu, .lyceum-departments,
.education-system, .methodological-associations,
.other-info
 {
    flex-basis: 250px;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

.footer-site-navigation-bottom-containers div h3 {
    font-weight: bold;
    color: #fff;
}

.footer-menu-box, .lyceum-departments-box,
.education-system-box, .methodological-associations-box,
.other-info-box {
    display: flex;
    flex-direction: column;
}

.footer-menu a, .lyceum-departments a,
.education-system a, .methodological-associations a,
.other-info a {
    margin: 5px 0 5px 0;
    text-decoration: none;
    opacity: 70%;
    color: #fff;
    transition: 0.8s;
    max-width: max-content;
}

.footer-site-navigation-bottom-containers div a:hover {
    opacity: 100%;
}


/* media */

@media screen and (max-width: 850px) {
   
    .header-top{
        display: none;
    }

    .header-main p {
        font-size: 12px;
    }

    .news-box {
        padding: 25px;
    }

    .news-title {
        font-size: 8px;
        padding: 2px 5px 2px 5px;
        border-radius: 1.5px;
    }

    .news-title a {
        font-size: 8px;
        opacity: 100%;
        transition: none;
    }

    .news-title a:hover {
        pointer-events: 0;
        text-decoration: none;
    }

    .news-blocks {
        margin: 25px 0 0 0;
    }

    .news-container {
        font-size: 9px;
        margin: 0 4px 20px 4px;
        flex-basis: 250px;
    }

    .news-container hr {
        margin: 0 0 7px 0;
    }

    .news-container a {
        font-size: 12px;
    }

    /* dsdsdsdsdsdsdsdsdsdsdssdsdsdsddsdsds */

    .responsive-menu {
        display: block;
        
    }
    
    .show-menu-btn, .hide-menu-btn {
        cursor: pointer;
        position: absolute;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
    }

    .show-menu-btn img, .hide-menu-btn img {
        margin: auto 0 auto 0;
    }

    .responsive-menu-box {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 100%;
        background-color: #333;
        height: max-content;
        left: -100%;
        transition: 0.8s;
        padding: 0 0 100px 0;
    }

    .responsive-menu-box div {
        display: flex;
        flex-direction: column;
        margin: 0px 0 0 60px;
        height: max-content;
        max-width: 50%;
        flex-wrap: wrap;
        justify-content: flex-start;
        font-family: Arial, Helvetica, sans-serif;
    }

    .responsive-menu-box div h3 {
        font-weight: bold;
        color: #fff;
    }
    
    .responsive-menu-box div a{
        text-decoration: none;
        text-transform: uppercase;
        padding: 5px;
        color: white;
        font-size: 12px;
        opacity: 50%;
    }
    
    #chk {
        position: absolute;
        visibility: hidden;
        z-index: -1111;
    }

    #chk:checked ~ .responsive-menu-box{
        left:0;
    }

    /* dsdsdsdsdsdsdsdsdsdsdssdsdsdsddsdsds */


    .footer-top-main {
        display: none;
    }

}   
    