html, body {
    margin: 0%;
    background-color: f2f2f2;
    overflow-x: hidden;
}

.header_top {
    width: 100%;
    height: 55px;
    background-color: white;
}

.header_main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
    padding: 5px;
}

.header_main p {
    margin: 0%;
    text-align: center;
    font-size: 20px;
    font-family: 'fonts\mint-type-acciamoderato-light.otf', 'Sylfaen' serif;
    color: white;
}

.main {
    max-width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.news {
    padding: 30px 50px 50px;
    max-width: 1200px;
    background-color: white;
    margin: 0 15px 15px;

}

.news_title {
    background-color: rgb(126, 42, 77);
    color: white;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    padding: 10px;
    font-size: 14px;
    font-family: 'Sylfaen' serif;
    white-space: nowrap;
}

.news_containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0 0 0;
}

.news_container1, .news_container2, .news_container3, .news_container4 {
    flex: 1;
    flex-basis: 400px;
    margin: 0 15px 35px 15px;
    font-size: 14px;
} 

.news_container1 hr, .news_container2 hr, .news_container3 hr, .news_container4 hr {
    border: none;
    background-color: rgb(126, 42, 77);
    height: 2px;
    margin: 0 0 20px 0;
}


@media (max-width: 850px) {
   
    .header_top{
        display: none;
    }

    .header_main p {
        font-size: 12px;
    }

    .news {
        padding: 15px 25px 25px;
    }

    .news_title {
        font-size: 8px;
        padding: 5px;
        border-radius: 4px;
    }

    .news_containers {
        margin: 25px 0 0 0;
    }

    .news_container1, .news_container2, .news_container3, .news_container4 {
        font-size: 9px;
        margin: 0 4px 20px 4px;
        flex-basis: 250px;
    }

    .news_container1 hr, .news_container2 hr, .news_container3 hr, .news_container4 hr {
        margin: 0 0 7px 0;
    }
}