.header_top {
    width: 100%;
    height: 55px;
    background-color: white;
}

.header_main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
    padding: 5px;
}

.header_main p {
    margin: 0%;
    text-align: center;
    font-size: 20px;
    font-family: "fonts\mint-type-acciamoderato-light.otf";
    color: white;
}

.main {
    max-width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
}

.news {
    padding: 0 15px 15px;
    width: 1200px;
    height: 2000px;
    background-color: white;
    margin: 0 15px 15px;
}

@media (max-width: 1000px) {
   
    .header_top{
        display: none;
    }

    .header_main p {
        font-size: 14px;
    }
}


body {
    margin: 0%;
    background-color: f2f2f2;
}