@media (max-width: 800px) {
   
    .header_top{
        display: none;
    }

    .header_main p {
        font-size: 14px;
    }
}

body {
    margin: 0%;
    background-color: f2f2f2;
}

.header_top {
    width: 100%;
    height: 55px;
    background-color: white;
}

.header_main {
    width: 100%;
    height: max-content;
    background-color: rgb(126, 42, 77);
    padding: 5px;
}

.header_main p {
    margin: 0%;
    text-align: center;
    font-size: 20px;
    font-family: 'fonts\mint-type-acciamoderato-light.otf', 'Sylfaen' serif;
    color: white;
}

.main {
    max-width: 100%;
    height: 2000px;
    display: flex;
    justify-content: center;
}

.news {
    padding: 30px 50px 50px;
    width: 1200px;
    background-color: white;
    margin: 0 15px 15px;

}

.news_title {
    background-color: rgb(126, 42, 77);
    color: white;
    padding: 8px;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    padding: 10px;
    font-family: 'Sylfaen' serif;
    white-space: nowrap;
}

.news_containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 0 0 0;
}

.news_container1, .news_container2, .news_container3, .news_container4 {
    width: 450px;
    height: 500px;
    margin: 15px;
    font-size: 14px;
    box-shadow:    -20px 20px 0 -17px #fff,
                    20px -20px 0 -17px #fff,
                    20px 20px 0 -20px rgb(126, 42, 77),
                    0 0 0 2px rgb(126, 42, 77);
}